<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" />
<sly data-sly-call="${clientlib.js @ categories='training.rating'}" />
<sly data-sly-call="${clientlib.css @ categories='training.rating'}" />

<sly data-sly-use.model="com.cognifide.aem.training.core.rating.RatingModel">
  <div>
    Current value: ${model.calculatedRate}
  </div>
  <div class="star-container">
  <form class="rating" id="product1" data-current-page="${currentPage.Path}">
    <button type="submit" class="star" data-star="1" disabled="${wcmmode.edit || wcmmode.preview}">
      <span aria-hidden="true">&#9733;</span>
      <span class="screen-reader">1 Star</span>
    </button><button type="submit" class="star" data-star="2"  disabled="${wcmmode.edit || wcmmode.preview}">
    <span aria-hidden="true">&#9733;</span>
    <span class="screen-reader">2 Stars</span>
  </button><button type="submit" class="star" data-star="3"  disabled="${wcmmode.edit || wcmmode.preview}">
    <span aria-hidden="true">&#9733;</span>
    <span class="screen-reader">3 Stars</span>
  </button><button type="submit" class="star" data-star="4"  disabled="${wcmmode.edit || wcmmode.preview}">
    <span aria-hidden="true">&#9733;</span>
    <span class="screen-reader">4 Stars</span>
  </button><button type="submit" class="star" data-star="5"  disabled="${wcmmode.edit || wcmmode.preview}">
    <span aria-hidden="true">&#9733;</span>
    <span class="screen-reader">5 Stars</span>
  </button>
  </form>

  </div>
</sly>
