<sly data-sly-use.model="com.cognifide.aem.training.core.pagelist.PageListModel"
     data-sly-use.validationResult="${'com.cognifide.aem.commons.validation.impl.ValidationResultModel' @ model = model}"
     data-sly-test="${validationResult.isValid}">

  <div data-sly-list.pageInfo="${model.pageInfos}">
    <div>
      <span><a href="${pageInfo.pagePath}">${pageInfo.title}</a></span>
      <span data-sly-test="${pageInfo.hasDescription}">${pageInfo.description}</span>
      <span data-sly-test="${pageInfo.hasImage}"><img src="${pageInfo.imagePath}"></span>
    </div>
  </div>

</sly>
<sly data-sly-test="${!validationResult.isValid && wcmmode.edit}"
     data-sly-use.renderer="/apps/aem-commons/validation/components/displayValidationResult.html"
     data-sly-call="${renderer.displayValidationResult @ validationResult = validationResult}"/>
