<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"/>
<sly data-sly-call="${clientlib.js @ categories='training.email'}"/>
<sly data-sly-call="${clientlib.css @ categories='training.email'}"/>

<sly data-sly-use.model="com.cognifide.aem.training.core.email.EmailModel"
     data-sly-use.validationResult="${'com.cognifide.aem.commons.validation.impl.ValidationResultModel' @ model = model}"
     data-sly-test="${validationResult.isValid}">
  <div>
    <div id="message"></div>
    <label>Your email address:</label><input id="emailFrom" name="email" type="email"/><br/>
    <label>Question:</label><textarea id="question" name="question" rows="4" cols="50"
                                      placeholder="Type yor question here..."></textarea><br/>
    <button id="sendbutton" type="submit" class="email-submit" data-resource-path="${model.path}">Send email
    </button>
  </div>
</sly>
<sly data-sly-test="${!validationResult.isValid && wcmmode.edit}"
     data-sly-use.renderer="/apps/aem-commons/validation/components/displayValidationResult.html"
     data-sly-call="${renderer.displayValidationResult @ validationResult = validationResult}"/>
