<sly data-sly-use.model="com.cognifide.aem.training.core.teaser.TeaserModel"
     data-sly-use.validationResult="${'com.cognifide.aem.commons.validation.impl.ValidationResultModel' @ model = model}"
     data-sly-test="${validationResult.isValid}">


   <a href="${model.linkPath}">${model.linkText}</a>
   <p>${model.description @ context='html'}</p>
   <img src="${model.imagePath}">

</sly>

<sly data-sly-test="${!validationResult.isValid && wcmmode.edit}"
     data-sly-use.renderer="/apps/aem-commons/validation/components/displayValidationResult.html"
     data-sly-call="${renderer.displayValidationResult @ validationResult = validationResult}"/>
