.star-container {
  margin-right: auto;
  max-width: 40em;
  width: 88%;
}
.star {
  background: none;
  border: none;
  font-size: 1.5em;
  padding: 0 0.15em;
}
.star.selected {
  color: gold;
}
/**
 * Visually hide an element, but leave it available for screen readers
 * @link https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
 * @link http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.screen-reader {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
